*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

html{
    width: 100%;
    height: 100vh;
    background-position: center;
    position: relative;
}


nav svg {
    fill: #056773;
    transition: all 0.3s ease 0s;
    right: 0;
}

nav svg:hover {
    fill: #FFA200;
}

.close-sidebar-button svg {
    padding-top: 1rem;
}

.side-list {
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    top: 0;
    height: 100%;
    z-index: 10;
    left: -370px;
    width: 360px;
    background-color: rgb(235, 244, 252);
    box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
    transition: 0.50s ease-out;
}

.base_list li, .service_list li, .login li{
    list-style: none;
    box-sizing: border-box;
    height: auto;
    width: 100%;
    padding: 10px 30px;
    justify-content: flex-start;
    font-size: 16px;
    padding-top: 1rem;
    margin: 13px;
}

.service_list, .base_list{
    border-top: 1px solid #05667344;
}

.logout{
    margin-top: 5rem;    
    border-top: 3px solid #05667344;

    list-style: none;
    box-sizing: border-box;
    height: auto;
    padding: 15px 30px;
    justify-content: flex-start;
    text-decoration: none;
    color: #056773;
    font-size: 16px;
}

.base_list li a, .service_list li a, .logout li a, .login li a{
    transition: all 0.3s ease 0s;
    text-decoration: none;
    color: #056773;
}

.base_list li a:hover, .service_list li a:hover, .logout li a:hover, .login li a:hover{
    color: #ffffff;
    background-color: #FFA200;
    border-radius: 50px;
    padding: 9px 25px;
}

.side-list ul li i{
    padding-right: 7px;
}

.open-sidebar-button, .close-sidebar-button{
    padding: 15px;
    display: block;
}

#sidebar-active:checked ~ .side-list{
    left: 0;
}

#sidebar-active:checked ~ #overlay{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
}

#sidebar-active {
    display: none;
}

.identity {
    padding: 20px;
}

.businessIdentityTitle{
    width: 100%;
    position: absolute;
    top: 35%;
    transform: translateY(-50%);
    text-align: center;
    color: #254D4C;
}
.businessIdentityTitle h1{
    font-size: 60px;
    margin-top: 80px;
}
.businessIdentityTitle p{
    margin: 20px auto;
    font-weight: 500;
    line-height: 25px;
}
.container{
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    display: flex;
}

Button{
    padding: 15px;
    width: 250px;
    background: #FFA200;
    font-weight: bold;
    font-size: 20px;
    margin: 0;
    cursor: pointer;
    border: 0;
    border-radius: 15px;
    color: white;
}
Button:hover{
    transition: .8s;
    background-color: #254D4C;
}

.identity {
    background: #e4e4e4aa;
    border-radius: 15px;
    z-index: 100;
    height: 500px;
    width: 1000px;
    margin-top: 50px;
    position: fixed; /* Set the position to fixed */
    top: 50%; /* Position it vertically at the middle */
    left: 50%; /* Position it horizontally at the middle */
    transform: translate(-50%, -50%); /* Center it precisely */
}



*{
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(180.3deg, #d6e0f6, #6ba2e6, #1a3863);
    background-repeat: no-repeat; /* Ensure the background doesn't repeat */
}


section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

section .row {
    position: relative;
    top: -50%;
    width: 100%;
    display: flex;
    padding: 10px 0;
    white-space: nowrap;
    font-size: 54px;
    transform: rotate(30deg);
}

i {
    color: #71a0da;
    transition: 1s;
    padding: 0 5px;
    user-select: none;
    cursor: default;
}

i:hover {
    color: #FFA200;
    text-shadow: 0 0 120px #FFA200;
}

section .row div {
    animation: animate1 80s linear infinite;
    animation-delay: -60s;
}

@keyframes animate1 {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

section .row div:nth-child(2) {
    animation: animate2 80s linear infinite;
    animation-delay: -20s;
}

@keyframes animate2 {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-200%);
    }
}

section .row:nth-child(even) div {
    animation: animate3 80s linear infinite;
    animation-delay: -80s;
}

@keyframes animate3 {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}

section .row:nth-child(even) div:nth-child(2) {
    animation: animate4 80s linear infinite;
    animation-delay: -40s;
}

@keyframes animate4 {
    0% {
        transform: translateX(-200%);
    }

    100% {
        transform: translateX(0%);
    }
}


@media(max-width: 500px){

    .service_list, .login{
        display: block;
    }
    .login{
        border-top: 1px solid #05667344;
    }
    .logout li{
        margin-top: 4rem;
    }
    .base_list li, .service_list li, .login li{
        padding-top: 1.5rem;
    }
    .nav_list, #log{
        display: none;
    }
}

/*Footer styling*/
footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: #fff;
    font-size: 14px;
}

footer a {
    color: #fff;
    text-decoration: underline;
}

footer a:hover {
    color: #ddd;
}