*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

html{
    overflow-x: hidden;
    width: 100%;
    height: 100vh;
    background-position: center;
    background: linear-gradient(45deg,#d0d5fa,#edf3ff);
    position: relative;
}


nav svg {
    fill: #056773;
    transition: all 0.3s ease 0s;
    right: 0;
}

nav svg:hover {
    fill: #FFA200;
}

.close-sidebar-button svg {
    padding-top: 1rem;
}

.side-list {
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    top: 0;
    height: 100%;
    z-index: 10;
    left: -370px;
    width: 360px;
    background-color: rgb(235, 244, 252);
    box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
    transition: 0.50s ease-out;
}

.base_list li, .service_list li, .login li{
    list-style: none;
    box-sizing: border-box;
    height: auto;
    width: 100%;
    padding: 10px 30px;
    justify-content: flex-start;
    font-size: 16px;
    padding-top: 1rem;
    margin: 13px;
}

.service_list, .base_list{
    border-top: 1px solid #05667344;
}

.logout{
    margin-top: 5rem;    
    border-top: 3px solid #05667344;

    list-style: none;
    box-sizing: border-box;
    height: auto;
    padding: 15px 30px;
    justify-content: flex-start;
    text-decoration: none;
    color: #056773;
    font-size: 16px;
}

.base_list li a, .service_list li a, .logout li a, .login li a{
    transition: all 0.3s ease 0s;
    text-decoration: none;
    color: #056773;
}

.base_list li a:hover, .service_list li a:hover, .logout li a:hover, .login li a:hover{
    color: #ffffff;
    background-color: #FFA200;
    border-radius: 50px;
    padding: 9px 25px;
}

.side-list ul li i{
    padding-right: 7px;
}

.open-sidebar-button, .close-sidebar-button{
    padding: 15px;
    display: block;
}

#sidebar-active:checked ~ .side-list{
    left: 0;
}

#sidebar-active:checked ~ #overlay{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
}

#sidebar-active {
    display: none;
}
@media(max-width: 500px){

    .service_list, .login{
        display: block;
    }
    .login{
        border-top: 1px solid #05667344;
    }
    .logout li{
        margin-top: 4rem;
    }
    .base_list li, .service_list li, .login li{
        padding-top: 1.5rem;
    }
    .nav_list, #log{
        display: none;
    }
}

.start{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 50px 8% 0;
    overflow: hidden;
}

.start-content{
    max-width: 630px;
}

.start-content h1{
    font-size: 50px;
    line-height: 1.2;
    color: rgb(33, 107, 255);
}

.start-content p{
    font-size: 20px;
    margin: 15px 0 30px;
}

.btn{
    display: inline-block;
    padding: 10px 28px;
    background: rgb(33, 107, 255);
    border: 2px solid rgb(33, 107, 255);
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    font-size: 19px;
    color: #fff;
    letter-spacing: 1px;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

.btn:hover{
    background: #fff;
    color: rgb(33, 107, 255);
}

.start-img{
    position: relative;
    width: 380px;
    height: 380px;
    transform: rotate(45deg);
    margin-left: 15%;
}

.start-img .labtop {
    position: absolute;
    right: -7%;
    width: 100%;
    height: 100%;
    background: #dbe8ff;
    border: 25px solid rgb(33, 107, 255);
    box-shadow: -20px -15px 20px rgba(0, 0, 0, 0.2); 
}

.start-img .labtop img {
    position: absolute;
    left: -100px;
    max-width: 500px;
    transform: rotate(-45deg);
}


.start .labtop2{
    position: absolute;
    top: -25%;
    right: -1%;
    width: 700px;
    height: 700px;
    background:  rgb(25, 101, 254);
    transform: rotate(45deg);
    z-index: -1;
}

/*Footer styling*/
footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: #fff;
    font-size: 14px;
}

footer a {
    color: #fff;
    text-decoration: underline;
}

footer a:hover {
    color: #ddd;
}