*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

html{
    overflow-x: hidden;
    width: 100%;
    height: 100vh;
    background-position: center;
    position: relative;
    background-color: #e4e4e4;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 200px;
}

.btn1{
    align-items: center;
    font-size: 18px;
    color: black;
    background: transparent;
    outline: none;
    border: none;
    cursor: pointer;
}
.btn1 i{
    margin-right: 5px;
}
.btn1:hover{
    transition: all 0.3s ease 0s;
    margin-left: -20px;
    color: #056773;   
}

.btn2{
    padding: 7px 20px;
    background-color: #FFA200;
    color: #ffffff;
    font-size: 18px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-right: 20px;
}
.btn2:hover{
    background-color: #056773;
    padding: 7px 30px;
}

.back{
    height: 10px;
    background-color: #ffffff;
}
#progress-bar{
    --progress: 0;
    height: 10px;
    width: var(--progress);
    background-image: linear-gradient(to right, #D6F6F0, #6BE6CD, #174D42);
    border-top-right-radius: 50px; 
    border-bottom-right-radius: 50px;
}

.icons h3{
    font-size: 19px;
    margin: 30px 100px;
    color: #254D4C;
}

.container{
    max-width: 800px;
    height: 400px;
    padding: 50px;
    margin: auto;
    background-color: #f4f4fe;
    border-radius: 10px;
}

.container p{
    font-size: 19px;
    color: #254D4C;
    margin-bottom: 15px;
    font-weight: 600;
}

.select-container{
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 50px;
    min-width: 250px;
}

.room-type, .style{
    border: none;
    padding: 0 20px 0 15px;
    width: 250px;
    color: #ffffff;
    background: #0c5e69;
    font-size: 18px;
    border-radius: 10px;
}

.room-type{
    margin-left: 60px;
}

.style{
    margin-right: 60px;
}